.container__small-card{
  display: flex;
  justify-content: center;
  width: 200px;
  margin: 10px;
  border: 1px solid #1c090b;
  border-radius: 5px;
  transition: 0.4s;
}

.container__small-card:hover{
  background-color: #1c090b;
}


.container__small-card-content{
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.small-card__photo > img {
  width: 180px;
  border-radius: 5px;
}

.small-card__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-card__title > h1 {
  font-size: 16px;
  font-weight: bolder;
}

.container__small-card:hover > .container__small-card-content > .small-card__title > h1 > a {
  color: #59a87d;
}


