/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  color:rgb(0, 0, 0);
  font-family: 'Open Sans', sans-serif;
  
}

body{
  background-color: #f2e9e6;
}

a{
  text-decoration: none;
}
